<div class="row">
  <section class="main col-md-9">
    <div class="row">
      <div class="col-12">
        <h2>404 - Page Not Found</h2>
        <p>The page you're looking for does not exist</p>
      </div>
    </div>
  </section>

  <aside class="col-md-3">
    <br /><br />
    <h4>Navigation</h4>
    <ul class="list-group">
      <a href="/shop" class="list-group-item">Shop</a>
      <a href="/about" class="list-group-item">About</a>
      <a href="/items" class="list-group-item">Items</a>
      <a href="/categories" class="list-group-item">Categories</a>
      <a href="/items/add" class="list-group-item">Add Items</a>
    </ul>
  </aside>
</div>