<div class="row">
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay tuned for future updates</p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        Currently, I'm studying in the CPA(Computer Programming and Analysis)
        course at Seneca College in Toronto, Canada. My favourite subject for
        this course so far is WEB322.
      </p>
      <p>My interests lie in the fields of automobiles and gaming.</p>
      <p>My goal is to pursue freelancing as a Full-stack developer.</p>
    </article>
  </section>
</div>